/* ELEMENT STYLES */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  font-family: 'Heebo', sans-serif;
  margin: 0 25px;
  padding: 0;
}

h1 {
  color: white;
  font-family: 'Bungee Shade', serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.25em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

h2, h3 {
  font-weight: 700;
}

h2, h4 {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.chart h2 {
  padding-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: .25em;
}

h4 {
  font-size: 1em;
  line-height: 1.3em;
  padding: 10px;
  padding-top: 0;
  font-weight: 400;
}

header {
  height: 100vh;
  text-align: center;
  position: relative;
}

.container p {
  font-size: 1.1em;
  margin-bottom: 25px;
}

select {
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

/* CLASS AND ID STYLES */

.background-image {
  background-attachment: scroll;
  background: url(../img/franklinst.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.container {
  margin: 35px auto;
  max-width: 940px;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

#map {
  height: 300px;
}

#map-info {
  flex-wrap: wrap;
  padding: 0 25px;
  text-align: center;
}

.legend, .filter, .chart {
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: center;
}

.legend {
  flex-basis: 750px;
}

.filter {
  flex-basis: 250px;
}

.chart {
  max-width: 100%;
  text-align: center;
}

#legendGradient {
  background: rgb(234, 229, 256);
  background: -webkit-linear-gradient(left, rgb(25, 0, 127), rgb(234, 229, 256));
  background: -moz-linear-gradient(left center, rgb(25, 0, 127), rgb(234, 229, 256));
  background: -o-linear-gradient(left, rgb(25, 0, 127), rgb(234, 229, 256));
  background: linear-gradient(to right, rgb(25, 0, 127), rgb(234, 229, 256));
  border: solid 2px black;
  height: 20px;
  margin: 5px 10px;
  text-align: center;
  width: 80%;
}

#chart {
  height: 300px;
  margin: 0 auto;
  max-width: 95%;
  padding: 0 5px;
}

svg.tau-chart__svg {
  margin: 0 auto;
}

.tau-chart__layout__content, .tau-chart__layout__sidebar-right {
  padding: 0!important;
}

.tau-chart__tooltip {
  max-width: 90%;
}

.tau-chart__tooltip__button.i-role-exclude {
  display: none;
}

/* DESKTOP MEDIA QUERY */
@media (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  .background-image {
    background-attachment: fixed;
  }

  .container p {
    margin-bottom: 35px;
  }

  .container {
    margin: 75px auto;
  }

  #map {
    height: 400px;
  }

  #chart {
    padding: 0 25px;
  }
}

/* MOBILE MEDIA QUERY */
@media (max-width: 768px) {
  .tau-chart__tooltip {
    left: 25px!important;
  }
}
